*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container {
    background-color:#cfe7ef;
    min-height: 100vh;
    border: 5px solid black
}

.content{
    max-width: 900px;
    margin: 0 auto;
}
.top_section {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-transform: uppercase;
    
}
.top_section h1{
    font-size: 60px;
    font-weight: bold;
    color: #1d1e1d;
}
.top_section h3{
    font-size: 20px;
    text-align: end;
}
img{
    width: 210px;
    height: 210px;
    border-radius: 60%;
    overflow: hidden;
}
